* {
    font-family: Arial, Helvetica, sans-serif;
}

#title {
    color: white;
    background-color: #1245AB;
    position: relative;

    h1 {
        padding-top: 40px;
        margin-left: 20px;
    }

    p {
        margin-left: 20px;
        padding-bottom: 5px;
    }
}

.menu {
    width: 800px;
    overflow: hidden;
    position: absolute;
    top: 90px;
    left: 350px;
}

.menu > li {
    width: 25%;
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #1245AB;
}

.menu a {
    color: white;
    text-decoration: none;
}

.submenu {
    height: 0;
    overflow: hidden;
}

.submenu > li {
    line-height: auto;
    background-color: #1245AB;
    color: white;
}

.submenu > li > a {
    color: white;
}

.menu > li:hover {
    background-color: white;
}

.menu > li:hover a {
    color: #1245AB
}

.menu > li:hover .submenu {
    height: auto;
}

.menu > li:hover .submenu > li > a {
    color: white;
}

.menu > ul > a {
    position: relative;
}

.menu > ul > a > .submenu > li {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
}

ul {
    list-style: none;
}

li {
    text-align: center;
}

#content {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    #login {
        float: left;
        background-color: #1245AB;
        color: white;
        padding: 10px;
        padding-top: 20px;
        margin-right: 10px;
    
        #user {
            margin-bottom: 5px;
            padding: 5px;
        }
    
        #pass {
            margin-bottom: 5px;
            padding: 5px;
        }
    }

    #post {
        margin-left: 10px;
        margin-right: 10px;
        display: grid;
        grid-template-rows: repeat(3, 1fr);

        .card {
            border: 2px solid #1245AB;
            border-radius: 10px 10px;
            box-shadow: 1px 1px 1px 1px gray;
            margin-bottom: 5px;
        }

        header {
            padding-left: 10px;
            font-size: larger;
        }

        .img {
            display: grid;
            grid-template-columns: auto 1fr;
        }

        p {
            padding-right: 10px;
        }
    }

    #ad {
        float: right;
        #ad1 {
            background-color: #FFFFE4;
            padding: 3px;
            padding-left: 10px;
            padding-right: 10px;
            border: 2px solid #1245AB;
            border-radius: 10px 10px;
            margin-bottom: 10px;
        }

        #ad2 {
            background-color: #FFFFE4;
            padding: 3px;
            padding-left: 10px;
            padding-right: 10px;
            border: 2px solid #1245AB;
            border-radius: 10px 10px;
        }
    }
}

#foot {
    margin-top: 10px;
    background-color: #1245AB;
    padding: 5px;

    ul li {
        display: inline-block;
        width: 20%;
        text-align: left;
    }

    a {
        color: white;
    }

    #ft {
        text-decoration: none;
    }
}